/* Laptop 1024px*/

@media screen and (max-width: 1024px) {

    /* Nav bar  */

    .nav-list li,
    .globe,
    .hide-txt {
        display: none;
    }

    nav .ham {
        display: block;
        padding: 0rem;
        font-size: 20px;
    }

    .try-btn {

        background-color: #2e844a;
        width: 110px;
        height: 30px;
        padding: 4px;
    }

    nav img {
        width: 70px;
        height: 35px;
        margin-inline-start: 10px;


    }

    nav {
        height: 56px;

    }

    .top-banner {
        margin-top: 56px;
    }

    .nav-list {
        gap: 15px;

    }

    .nav-list i {
        font-size: 16px;
    }

    /* Hero section  */

    .left {
        margin-left: 35px;
    }

    .left h1 {
        font-size: 45px;
        line-height: 54px;
    }

    .right img {
        width: 600px;
    }


    /* Featur 2 */

    .feature2 {
        width: 928px;
        font-size: 32px;
    }

    .feat-left {
        width: 500px;
        margin-left: 60px;
    }

    .feat-left h2 {
        font-size: 30px;

    }


    .feat-left .primary-btn {
        width: 170px;
    }

    .feat-left .secondary-btn {
        width: 152px;
    }

    .feat-right img {
        width: 447px;
    }

    /* Feature 3 */

    .feature3 {
        width: 928px;
        background-position-y: -124px;
    }

    .feature3 p {
        width: 420px;
    }

    .feature3 h2 {
        font-size: 30px;
    }

    .feature3 .primary-btn {
        width: 149px;
    }

}


/* Tablet 768px*/

@media screen and (max-width:768px) {
    /* Hero section  */

    header{
        flex-direction: column;
        height: 750px;
    }

    .left{
        width: 75%;
        margin-top: 64px;
    }

    .right{
        justify-content: center;
        height: 300px;
    }

    .right img {
        width: 380px;
        height: 380px;
    }

    .hero-bg {
        background-image: url(media/media.jpg);
        background-size: cover;
        background-position-y: -310px;
    }

    /* Feature 1 */

    .feature{
        text-align: center;
        width: 100%;
        margin-inline: 10px;
       
    }

    /* Card section  */

    .card-bg {
        height: 1362px;
    }
    .cards{
        width: calc(50% - 32px);
    }

    .card-section{
        row-gap: 32px;
    }

    .cards {
        height: 451px;
        text-align: left;
        /* padding: 10px; */
    }

    .cards p,a{
     margin-inline:10px;
    }
 
    /* Cta section  */

    .cta-section{
        width: 600px;
    }

    .cta-section2 h2{
        width: 600px;
        text-align: center;
    }


    .feature2 h2{
        width: 300px;
    }

    .feature2 .btns{
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }

    .feature2 .secondary-btn{
        margin-right: 40px;
    }


    .feat-right img {
        width: 350px;
        margin-top: 60%;
    }

    .feature2,.feature3{
        width: 704px;
        height: 573px;
        background-position-y: 1px;
        background-position-x: -200px;
    }

    .cta1-btns{
        flex-direction: column;
        gap: 32px;
    }

    .cta1-btns a{
        padding: 0;
    }

    footer{
        display: none !important;
    }

    /* Subfooter */

    .subfooter{
        height: 25dvh;
    }
}