/* Laptop 1024px*/

@media screen and (max-width: 1024px) {
  /* Nav bar  */

  .nav-list li,
  .globe,
  .hide-txt {
    display: none;
  }

  nav .ham {
    display: block;
    padding: 0rem;
    font-size: 20px;
  }

  .hampage.active {
    left: 0;
  }

  .hampage {
    display: block;
    position: absolute;
    left: -100%;
    top: 100%;
    width: 512px;
    height: 470px;
    background-color: white;
    overflow: scroll;
    scroll-behavior: smooth;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 18px;
  }

  .hampage button {
    width: 448px;
    height: 48px;
    background-color: white;
    border: none;
    text-align: start;
    margin-inline: 32px;
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
  }

  .big-btns {
    margin-bottom: 32px;
  }

  .big-btns button {
    justify-content: space-between;
  }

  .small-btns button {
    margin-block: 0;
  }

  .ham-bottom {
    font-size: 16px;
    font-weight: bold;
  }

  .ham-bottom i {
    margin-right: 8px;
    font-size: 16px;
  }

  .hampage h3 {
    font-size: 24px;
    font-weight: bold;
  }

  .hampage p {
    font-size: 16px;
    font-weight: bold;
    margin: 24px;
    margin-top: 32px;
    text-align: center;
  }

  .fa-chevron-right {
    color: grey;
    font-weight: bold;
    font-size: 18px;
  }

  .try-btn {
    width: 110px;
    height: 30px;
    padding: 4px;
  }

  nav img {
    width: 70px;
    height: 35px;
    margin-inline-start: 10px;
  }

  nav {
    height: 56px;
  }

  .top-banner {
    margin-top: 56px;
  }

  .nav-list {
    gap: 15px;
  }

  .nav-list i {
    font-size: 16px;
  }

  /* Hero section  */

  .left {
    margin-left: 35px;
  }

  .left h1 {
    font-size: 45px;
    line-height: 54px;
  }

  .right img {
    width: 600px;
  }

  /* Featur 2 */

  .feature2 {
    width: 928px;
    font-size: 32px;
  }

  .feat-left {
    width: 500px;
    margin-left: 60px;
  }

  .feat-left h2 {
    font-size: 30px;
  }

  .feat-left .primary-btn {
    width: 170px;
  }

  .feat-left .secondary-btn {
    width: 152px;
  }

  .feat-right img {
    width: 447px;
  }

  /* Feature 3 */

  .feature3 {
    width: 928px;
    background-position-y: -124px;
  }

  .feature3 p {
    width: 420px;
  }

  .feature3 h2 {
    font-size: 30px;
  }

  .feature3 .primary-btn {
    width: 149px;
  }
}

/* Tablet 768px*/

@media screen and (max-width: 768px) {
  /* Hampage  */
  .hampage {
    width: 384px;
  }
  /* Hero section  */

  header {
    flex-direction: column;
    height: 750px;
  }

  .left {
    width: 75%;
    margin-top: 64px;
  }

  .right {
    justify-content: center;
    height: 300px;
  }

  .right img {
    width: 380px;
    height: 380px;
  }

  .hero-bg {
    background-image: url(media/media.jpg);
    background-size: cover;
    background-position-y: -310px;
  }

  /* Feature 1 */

  .feature {
    text-align: center;
    width: 100%;
    margin-inline: 10px;
  }

  /* Card section  */

  .card-bg {
    height: 1362px;
  }

  .cards {
    width: calc(50% - 32px);
  }

  .card-section {
    row-gap: 32px;
  }

  .cards {
    height: 451px;
    text-align: left;
    /* padding: 10px; */
  }

  .cards p,
  a {
    margin-inline: 10px;
  }

  /* Cta section  */

  .cta-section {
    width: 600px;
  }

  .cta-section2 h2 {
    width: 600px;
    text-align: center;
  }

  /* Companies */
  .overlap {
    bottom: -5px;
  }

  .feature2 h2 {
    width: 300px;
  }

  .feature2 .btns {
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  .feature2 .secondary-btn {
    margin-right: 40px;
  }

  .feat-right img {
    width: 350px;
    margin-top: 60%;
  }

  .feature2,
  .feature3 {
    width: 704px;
    height: 509px;
    background-position-y: 1px;
    background-position-x: -115px;
  }

  .feature4 {
    margin-inline: 32px;
  }

  .feature4-bg {
    height: 712px;
  }

  .cta1-btns {
    flex-direction: column;
    gap: 32px;
  }

  .cta1-btns a {
    padding: 0;
  }

  footer {
    display: none !important;
  }

  /* Subfooter */

  .subfooter {
    height: 25dvh;
  }
}

/* Mobile L 425px */

@media screen and (max-width: 426px) {
  /* Hampage  */
  .hampage {
    width: 100%;
  }

  /* Nav  */
  nav {
    padding-inline: 25px;
  }

  .try-btn {
    width: 94px;
    font-size: small;
  }

  .wrap a {
    margin: 0;
  }

  nav img {
    height: 33px;
  }

  /* Top banner   */
  .top-banner {
    height: 28dvh;
  }

  .banner {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    padding-top: 20px;
  }

  .banner a {
    margin: 0;
  }

  .banner p {
    font-size: 16px;
    line-height: 1.5;
  }

  /* Hero Section  */
  .hero-bg {
    height: 923px;
    background-size: cover;
    background-position-y: 1px;
    background-position-x: -100px;
  }

  .hero-section {
    gap: 80px;
  }

  .left {
    width: 100%;
    margin: 0;
    margin-top: 50px;
    justify-content: space-evenly;
    gap: 20px;
    padding: 4px;
  }

  .left .btns {
    flex-direction: column;
    margin: 0;
    width: 100%;
    gap: 15px;
  }

  .left .primary-btn {
    width: 99%;
    margin-inline: 0;
  }

  .left .secondary-btn {
    width: 99%;
    margin-inline: 0;
  }

  .left h1 {
    font-size: 38px;
    line-height: 1.4;
  }

  .left p {
    font-size: 20px;
    padding-right: 1rem;
    margin-bottom: 15px;
  }

  .right img {
    height: 500px;
    width: 450px;
  }

  /* Feature section  */
  .card-bg {
    height: 2287px;
  }

  .feature {
    padding: 0;
    margin-inline: 0px;
  }

  .feature h2 {
    width: 380px;
  }

  .cards {
    width: 88%;
  }

  .cards h3 a {
    font-size: 20px;
  }

  .cards p {
    font-size: 16px;
  }

  .feature .feature-btn {
    width: 88%;
  }

  /* CTA sections  */
  .cta-section {
    width: 90%;
  }

  .cta-section h2 {
    font-size: 38px;
    line-height: 1.3;
  }

  .cta-section p {
    font-size: 19px;
    line-height: 30px;
  }

  .cta-section .btns {
    flex-direction: column;
    margin-inline: auto;
    width: 100%;
    gap: 15px;
  }

  .cta-section .primary-btn,
  .secondary-btn {
    width: 99%;
    margin-inline: auto;
  }

  .cta-section2 h2 {
    width: 90%;
    font-size: 38px;
    line-height: 1.3;
  }

  .cta-section2 .secondary-btn {
    width: 88%;
  }

  /* Companies */
  .overlap {
    bottom: -5px;
  }

  .small-cards {
    width: 144px;
    height: 74px;
  }

  /* Feature section  */

  .feature2,
  .feature3 {
    width: 377px;
    height: 749px;
    flex-direction: column;
  }

  .feat-left {
    width: 100%;
    padding-top: 40px;
    /* padding-left:32px ; */
    margin-left: 40px;
  }

  .feat-left .btns {
    width: 100%;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .feat-left .primary-btn {
    width: 90%;
    margin: 0;
  }

  .feat-left .secondary-btn {
    width: 90%;
    margin: 0;
  }

  .feat-right {
    height: 320px;
  }

  .feat-right img {
    margin: 0;
  }

  .feature4-bg {
    height: 1450px;
  }

  .feat4-cards {
    flex-wrap: wrap;
  }

  .feat4-cards .card1 {
    width: 100%;
    margin-bottom: 48px;
  }

  .card1 p {
    font-size: 18px;
  }

  .feature3 .cta-section {
    width: 100%;
  }

  .feature3 h2 {
    width: 100%;
    font-size: 32px;
  }

  .feature3 p {
    font-size: 18px;
    width: 94%;
  }

  .feature3 .cta1-btns {
    width: 100%;
  }

  .feature3 {
    background-size: contain;
    background-position-y: bottom;
    background-position-x: 0px;
  }

  /* Footer  */
  .subfooter {
    height: 253px;
    flex-direction: column;
  }

  .sub-container {
    width: 365px;
  }

  .sub-container a {
    margin-left: 0;
    font-size: 11px;
  }

  .subfooter button {
    width: 146px;
    height: 32px;
    padding: 0;
  }

  /* Contact  */
  /* Contact  */
  .contact {
    display: none;
  }

  .small-contact {
    display: block;
  }
}

/* Small Mobile 375px */

@media screen and (max-width: 376px) {
  .right img {
    height: 426px;
    width: 383px;
    margin-bottom: 93px;
  }

  .feature h2 {
    width: 327px;
    font-size: 32px;
  }

  .feat-left h2 {
    width: 262px;
  }

  .feature2,
  .feature3 {
    width: 327px;
  }

  .feat-left {
    height: 444px;
  }

  .feat-left .btns {
    margin-bottom: 0;
  }

  .feat-right {
    padding-bottom: 10px;
    height: 277px;
  }

  .feat-right img {
    width: 326px;
  }

  .sub-container {
    width: 311px;
  }
}
